/* =============================================================================

    HEADER CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Variables ================================================================ */

    $main-header-padding: 1.5rem;
    $main-header-background: white;

/* Main Header ============================================================== */
.main-header {
    padding: calc($main-header-padding / 2);
    position: relative;
    background: $main-header-background;

    @media $menu-media-query {
        padding: $main-header-padding;
    }

}
