/* =============================================================================

    FOOTER SUB-FOOTER CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Variables ================================================================ */

    /* Containers */
    $main-footer-subfooter-border: 1px solid rgba(255,255,255,0.2);
    $main-footer-subfooter-spacing: 2rem 0 0;

    /* Copyright & Credit */
    $main-footer-subfooter-font-family: $global-font-family;
    $main-footer-subfooter-font-color: white;
    $main-footer-subfooter-font-weight: normal;
    $main-footer-subfooter-font-size: 1rem;
    $main-footer-subfooter-font-style: normal;
    $main-footer-subfooter-text-transform: none;

        /* Links: Hovers */
        $main-footer-subfooter-font-color--hover: gray;

/* Container ================================================================ */
.main-footer__subfooter {
    padding: $main-footer-subfooter-spacing;
    margin: $main-footer-subfooter-spacing;
    border-top: $main-footer-subfooter-border;
    flex-flow: row wrap;
}

/* Copyright ================================================================ */
.main-footer__subfooter-copyright {
    font-family: $main-footer-subfooter-font-family;
    color: $main-footer-subfooter-font-color;
    font-weight: $main-footer-subfooter-font-weight;
    font-size: $main-footer-subfooter-font-size;
    font-style: $main-footer-subfooter-font-style;
    text-transform: $main-footer-subfooter-text-transform;
    padding: 0;
    margin: 0;
    width: 100%;

    @media $(p-tablet) {
        width: auto;
    }

}

/* Credit =================================================================== */
.main-footer__subfooter-credit {
    font-family: $main-footer-subfooter-font-family;
    color: $main-footer-subfooter-font-color;
    font-weight: $main-footer-subfooter-font-weight;
    font-size: $main-footer-subfooter-font-size;
    font-style: $main-footer-subfooter-font-style;
    text-transform: $main-footer-subfooter-text-transform;
    margin: $main-footer-subfooter-spacing;
    padding: 0;
    width: 100%;

    @media $(p-tablet) {
        width: auto;
        margin: 0;
    }

}

.main-footer__subfooter-credit-link {
    color: inherit;
}

/* Hovers =================================================================== */
.no-touchevents {

    .main-footer__subfooter-credit-link:hover {
        color: $main-footer-subfooter-font-color--hover;
    }

}
