/* =============================================================================

    LANGUAGE TOGGLE (BASIC) CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Variables: Basic ========================================================= */

    /* Containers */
    $language-toggle-background--basic: transparent;

    /* Items */
    $language-toggle-item-font-family--basic: $global-font-family;
    $language-toggle-item-font-size--basic: 0.8rem;
    $language-toggle-item-padding--basic: 0.25rem;

    /* Links */
    $language-toggle-item-link-color--basic: $gray-70;
    $language-toggle-item-text-decoration--basic: none;

        /* Links: Current */
        $language-toggle-item-link-color--basic--current: $black;

        /* Links: Hover */
        $language-toggle-item-link-color--basic--hover: $highlight;

/* Basic ==================================================================== */

    /* Basic: Container */
    .language-toggle--basic {
        list-style: none;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding: $language-toggle-item-padding--basic;
        background: $language-toggle-background--basic;

        /* Basic: Items */
        .language-toggle__item,
        .language-toggle__item--current {
            display: inline-block;
            vertical-align: middle;
            font-family: $language-toggle-item-font-family--basic;
            font-size: $language-toggle-item-font-size--basic;
        }

        /* Basic: Links */
        .language-toggle__item-link {
            color: $language-toggle-item-link-color--basic;
            padding: $language-toggle-item-padding--basic;
            text-decoration: $language-toggle-item-text-decoration--basic;
            display: block;
        }

            /* Basic: Items: Current */
            .language-toggle__item--current .language-toggle__item-link {
                color: $language-toggle-item-link-color--basic--current;
                pointer-events: none;
            }

    }

    /* Basic: Hovers */
    .no-touchevents .language-toggle--basic .language-toggle__item:not([class*="--current"]) .language-toggle__item-link:hover {
        color: $language-toggle-item-link-color--basic--hover;
    }
