/* =============================================================================

    BUTTON GROUP CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Variables ================================================================ */

    $button-group-item-spacing: 0.5rem;

/* Containers =============================================================== */
.button-group {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Items ==================================================================== */
.button-group__item {
    padding: $button-group-item-spacing;
    display: block;

    @media $(p-tablet) {
        display: inline-block;
        vertical-align: middle;
    }

}
