/* =============================================================================

    FORMS: SELECT2

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

@import "forms-variables.css";

/* Variables ================================================================ */

    /* Input */

        /* Input: Select Box */
        $select2-input-border: $form-field-border;
        $select2-input-font-family: $form-field-font-family;
        $select2-input-font-weight: $form-field-font-weight;
        $select2-input-font-size: 0.9rem;
        $select2-input-padding: $form-field-padding;
        $select2-input-border-radius: $form-field-border-radius;
        $select2-input-background: $form-field-background;
        $select2-input-color: $form-field-color;

            /* Input: Select Box (Focus) */
            $select2-input-border-color--focus: $form-field-border-color--focus;

            /* Input: Select Box (Disabled) */
            $select2-input-background--disabled: #ebebeb;

        /* Input: Chosen Item(s) */
        $select2-input-item-border: none;
        $select2-input-item-font-family: $form-field-font-family;
        $select2-input-item-font-weight: $form-field-font-weight;
        $select2-input-item-font-size: 0.75rem;
        $select2-input-item-padding: 0.15rem 0.25rem;
        $select2-input-item-border-radius: 0;
        $select2-input-item-background: none;
        $select2-input-item-color: $form-field-color;
        $select2-input-item-margin: 2px 2px 0 0;

            /* Input: Chosen Item(s) Remove Icon */
            $select2-input-item-remove-color: rgba(0,0,0,0.5);
            $select2-input-item-remove-margin: 0 7px 0 0;

    /* Dropdown */
    $select2-dropdown-max-height: 200px;
    $select2-dropdown-border: $form-field-border;
    $select2-dropdown-background: white;
    $select2-dropdown-border-radius: 0;

        /* Dropdown: Options */
        $select2-dropdown-item-border: 1px solid #ccc;
        $select2-dropdown-item-font-family: $form-field-font-family;
        $select2-dropdown-item-font-weight: $form-field-font-weight;
        $select2-dropdown-item-font-size: 0.8rem;
        $select2-dropdown-item-padding: 0.5rem;

            /* Dropdown: Options (Hover) */
            $select2-dropdown-item-background--hover: $select2-input-border-color--focus;
            $select2-dropdown-item-color--hover: white;

            /* Dropdown: Options (Selected) */
            $select2-dropdown-item-background--selected: #ebebeb;
            $select2-dropdown-item-color--selected: black;

            /* Dropdown: Options (Selected > Hover) */
            $select2-dropdown-item-background--selected--hover: $color-utility--danger;
            $select2-dropdown-item-color--selected--hover: white;

            /* Dropdown: Options (Disabled) */
            $select2-dropdown-item-background--disabled: inherit;
            $select2-dropdown-item-color--disabled: $gray-60;

/* Input ==================================================================== */

    /* Input: Container */
    .select2 {
        width: 100% !important;
    }

    /* Input: Select Box */
    .select2-selection {
        border: $select2-input-border !important;
        font-family: $select2-input-font-family !important;
        font-weight: $select2-input-font-weight !important;
        font-size: $select2-input-font-size !important;
        padding: $select2-input-padding !important;
        border-radius: $select2-input-border-radius !important;
        background: $select2-input-background !important;
        outline: none;
        box-shadow: none;
        width: 100%;
    }

        /* Input: Select Box (Focus) */
        .select2-container--focus:not(.select2-container--disabled) .select2-selection--multiple {
            border-color: $select2-input-border-color--focus !important;
        }

        /* Input: Select Box (Disabled) */
        .select2-container--disabled .select2-selection--multiple {
            background: $select2-input-background--disabled !important;
        }

    /* Input: Chosen Item(s) */
    .select2-selection__rendered {
        white-space: normal !important;
        padding: 0 !important;
    }

    .select2-selection__choice {
        border: $select2-input-item-border !important;
        font-family: $select2-input-item-font-family !important;
        font-weight: $select2-input-item-font-weight !important;
        font-size: $select2-input-item-font-size !important;
        padding: $select2-input-item-padding !important;
        border-radius: $select2-input-item-border-radius !important;
        background: $select2-input-item-background !important;
        margin: $select2-input-item-margin !important;
    }

    /* Input: Chosen Item: Remove Icon */
    .select2-selection__choice__remove {
        color: $select2-input-item-remove-color !important;
        margin: $select2-input-item-remove-margin !important;
    }

    /* Input: Search Box */
    .select2-search--inline {
        float: none;
        width: 100%;
    }

    .select2-container:not(.select2-container--focus) .select2-selection__choice + .select2-search--inline {
        display: none;
    }

    .select2-search__field {
        width: 100% !important;
    }

/* Dropdown ================================================================= */

    /* Dropdown: Containers */
    .select2-dropdown {
        border: $select2-dropdown-border !important;
        border-color: $select2-input-border-color--focus !important;
        background: $select2-dropdown-background !important;
    }

    .select2-results__options {
        max-height: $select2-dropdown-max-height !important;
    }

        /* Dropdown: Container (Below) */
        .select2-dropdown--below {
            border-top: 0 !important;
            border-radius: 0 0 $select2-dropdown-border-radius $select2-dropdown-border-radius;

            .select2-results__option:last-child {
                border-radius: 0 0 $select2-dropdown-border-radius $select2-dropdown-border-radius;
                border: none !important;
            }

        }

        /* Dropdown: Container (Above) */
        .select2-dropdown--above {
            border-bottom: 0 !important;
            border-radius: $select2-dropdown-border-radius $select2-dropdown-border-radius 0 0;

            .select2-results__option:first-child {
                border-radius: $select2-dropdown-border-radius $select2-dropdown-border-radius 0 0;
                border: none !important;
            }

        }

    /* Dropdown: Options */
    .select2-results__option {
        border-bottom: $select2-dropdown-item-border !important;
        font-family: $select2-dropdown-item-font-family !important;
        font-weight: $select2-dropdown-item-font-weight !important;
        font-size: $select2-dropdown-item-font-size !important;
        padding: $select2-dropdown-item-padding !important;
    }

        /* Dropdown: Options (Hover) */
        .select2-results__option--highlighted {
            background: $select2-dropdown-item-background--hover !important;
            color: $select2-dropdown-item-color--hover !important;
        }

        /* Dropdown: Options (Selected) */
        .select2-results__option[aria-selected="true"] {
            background: $select2-dropdown-item-background--selected !important;
            color: $select2-dropdown-item-color--selected !important;

            /* Dropdown: Options (Selected > Hover) */
            &.select2-results__option--highlighted {
                background: $select2-dropdown-item-background--selected--hover !important;
                color: $select2-dropdown-item-color--selected--hover !important;
            }

        }

        /* Dropdown: Options (Disabled) */
        .select2-results__option[aria-disabled="true"] {
            background: $select2-dropdown-item-background--disabled !important;
            color: $select2-dropdown-item-color--disabled !important;
        }
