/* =============================================================================

    MAPS CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Variables ================================================================ */

    $map-height-mobile: 80vh;
    $map-height-desktop: 50vh;

/* Containers =============================================================== */
.map__wrapper {
    height: $map-height-mobile;

    @media $(l-tablet) {
        height: $map-height-desktop;
    }

}

/* Map Embed ================================================================ */
.map__embed {
    display: block;
    width: 100%;
    height: 100%;
}
