/* =============================================================================

    BUTTONS CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Variables ================================================================ */

    /* Basic */
    $button-padding: 0.85rem 1.25rem;
    $button-radius: 3px;
    $button-font-family: $global-font-family;
    $button-font-size: 0.75rem;
    $button-font-weight: 600;
    $button-font-style: normal;
    $button-text-transform: uppercase;
    $button-background: $black;
    $button-color: white;

        /* Basic: Hover */
        $button-background--hover: $link-color;
        $button-color--hover: white;

    /* Neutral */
    $button-background--neutral: gray;
    $button-color--neutral: white;

        /* Neutral: Hover */
        $button-background--neutral--hover: $color-utility--danger;
        $button-color--neutral--hover: white;

    /* Highlight */
    $button-background--highlight: $highlight;
    $button-color--highlight: $button-color;

        /* Highlight: Hover */
        $button-background--highlight--hover: color($button-background--highlight tint(20%));
        $button-color--highlight--hover: white;

/* Form Buttons ============================================================= */
button,
input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    outline: none;
}

[class*="button--"] {
    padding: $button-padding;
    border-radius: $button-radius;
    font-family: $button-font-family;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    font-style: $button-font-style;
    text-transform: $button-text-transform;
    text-decoration: none;
    display: inline-block;
}

/* Basic ==================================================================== */
.button--basic {
    background: $button-background;
    color: $button-color;
}

    /* Basic: Hover */
    .no-touchevents {

        .button--basic:hover {
            background: $button-background--hover;
        }

    }

/* Highlight ================================================================ */
.button--highlight {
    background: $button-background--highlight;
    color: $button-color--highlight;
}

    /* Basic: Hover */
    .no-touchevents {

        .button--highlight:hover {
            background: $button-background--highlight--hover;
        }

    }

/* Neutral ================================================================== */
.button--neutral {
    background: $button-background--neutral;
    color: $button-color--neutral;
}

    /* Neutral: Hover */
    .no-touchevents {

        .button--neutral:hover {
            background: $button-background--neutral--hover;
        }

    }

/* State: Disabled ========================================================== */
button,
input[type="submit"],
[class*="button--"] {

    &.disabled,
    &[disabled] {
        pointer-events: none;
        opacity: 0.35;
        cursor: not-allowed;
    }

}
