/* =============================================================================

    BUTTONS CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Variables ================================================================ */

    /* Basic */
    $button-padding: 0.85rem 1.25rem;
    $button-radius: 3px;
    $button-font-family: $global-font-family;
    $button-font-size: 0.75rem;
    $button-font-weight: 600;
    $button-font-style: normal;
    $button-text-transform: uppercase;
    $button-background: var(--black);
    $button-color: white;

        /* Basic: Hover */
        $button-background--hover: $link-color;
        $button-color--hover: white;

    /* Outline */
    $button-background--outline: transparent;
    $button-color--outline: $button-background;
    $button-border--outline: 2px solid $button-background;

        /* Outline: Hover */
        $button-background--outline--hover: $button-background;
        $button-color--outline--hover: $button-color;
        $button-border--outline--hover: 2px solid $button-background;

/* Highlight */
    $button-background--highlight: var(--highlight);
    $button-color--highlight: $button-color;

        /* Highlight: Hover */
        $button-background--highlight--hover: var(--black);
        $button-color--highlight--hover: white;

    /* Success */
    $button-background--success: var(--color-utility--success);
    $button-color--success: white;

        /* Success: Hover */
        $button-background--success--hover: $button-background;
        $button-color--success--hover: $button-color--success;

    /* Danger */
    $button-background--danger: var(--color-utility--danger);
    $button-color--danger: white;

        /* Danger: Hover */
        $button-background--danger--hover: $button-background;
        $button-color--danger--hover: $button-color--danger;

/* Form Buttons ============================================================= */
button,
input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    outline: none;
}

[class*="button--"],
.button {
    padding: $button-padding;
    border-radius: $button-radius;
    font-family: $button-font-family;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    font-style: $button-font-style;
    text-transform: $button-text-transform;
    text-decoration: none;
    display: inline-block;
}

/* Basic ==================================================================== */
.button {
    background: $button-background;
    color: $button-color;
}

    /* Basic: Hover */
    .no-touchevents {

        .button:hover {
            background: $button-background--hover;
        }

    }

/* Highlight ================================================================ */
.button--highlight {
    background: $button-background--highlight;
    color: $button-color--highlight;
}

    /* Basic: Hover */
    .no-touchevents {

        .button--highlight:hover {
            background: $button-background--highlight--hover;
        }

    }

/* Outline ================================================================== */
.button--outline {
    background: $button-background--outline;
    color: $button-color--outline;
    border: $button-border--outline;
}

    /* Outline: Hover */
    .no-touchevents {

        .button--outline:hover {
            background: $button-background--outline--hover;
            color: $button-color--outline--hover;
            border: $button-border--outline--hover;
        }

    }

/* Success ==================================================================== */
.button--success {
    background: $button-background--success;
    color: $button-color--success;
}

    /* Success: Hover */
    .no-touchevents {

        .button--success:hover {
            background: $button-background--success--hover;
        }

    }

/* Danger ==================================================================== */
.button--danger {
    background: $button-background--danger;
    color: $button-color--danger;
}

    /* Danger: Hover */
    .no-touchevents {

        .button--danger:hover {
            background: $button-background--danger--hover;
        }

    }

/* State: Disabled ========================================================== */
.disabled,
[disabled] {
    pointer-events: none;
    opacity: 0.35;
    cursor: not-allowed;
}
