/* =============================================================================

    BUTTONS CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Variables ================================================================ */

    /* Basic */
    $button-padding: 1.2rem;
    $button-radius: 0;
    $button-font-family: $global-font-family;
    $button-font-size: 0.85rem;
    $button-font-weight: normal;
    $button-font-style: normal;
    $button-text-transform: uppercase;
    $button-background: black;
    $button-color: white;

        /* Basic: Hover */
        $button-background--hover: $color-utility--success;
        $button-color--hover: white;

    /* Neutral */
    $button-background--neutral: gray;
    $button-color--neutral: white;

        /* Neutral: Hover */
        $button-background--neutral--hover: $color-utility--danger;
        $button-color--neutral--hover: white;

    /* Link */
    $button-padding--link: 0;
    $button-font-family--link: $global-font-family;
    $button-font-size--link: 0.8rem;
    $button-font-weight--link: bold;
    $button-font-style--link: normal;
    $button-text-transform--link: none;

/* Form Buttons ============================================================= */
button,
input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    outline: none;
}

[class*="button--"] {
    padding: $button-padding;
    border-radius: $button-radius;
    font-family: $button-font-family;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    font-style: $button-font-style;
    text-transform: $button-text-transform;
    text-decoration: none;
    display: inline-block;
}

/* Basic ==================================================================== */
.button--basic {
    background: $button-background;
    color: $button-color;
}

    /* Basic: Hover */
    .no-touchevents {

        .button--basic:hover {
            background: $button-background--hover;
        }

    }

/* Neutral ================================================================== */
.button--neutral {
    background: $button-background--neutral;
    color: $button-color--neutral;
}

    /* Neutral: Hover */
    .no-touchevents {

        .button--neutral:hover {
            background: $button-background--neutral--hover;
        }

    }

/* Link ===================================================================== */
.button--link {
    color: gray;
    display: inline-block;
}

    /* Basic: Hover */
    .no-touchevents {

        .button--link:hover {
            color: black;
        }

    }

/* State: Disabled ========================================================== */
button,
input[type="submit"],
[class*="button--"] {

    &.disabled,
    &[disabled] {
        pointer-events: none;
        opacity: 0.35;
    }

}
