/* =============================================================================

    TYPOGRAPHY CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Type Scale =============================================================== */

    $font-scale: 1.333; /* Perfect Fourth */

    $font-scale-h1: calc(1rem*($font-scale*($font-scale*($font-scale*($font-scale)))));
    $font-scale-h2: calc(1rem*($font-scale*($font-scale*($font-scale))));
    $font-scale-h3: calc(1rem*($font-scale*($font-scale)));
    $font-scale-h4: calc(1rem*($font-scale));
    $font-scale-baseline: 1rem;
    $font-scale-small: calc(1rem*($font-scale/2));

/* Variables ================================================================ */

    /* Global */
    $global-font-family: 'Do Hyeon', Arial, Helvetica, sans-serif;

    /* Headings */
    $heading-font-family: $global-font-family;

    /* Paragraphs */
    $paragraph-font-family: 'Roboto', Arial, Helvetica, sans-serif;
    $paragraph-font-size: 0.85rem;
    $paragraph-color: $gray-30;
    $paragraph-leading--desktop: 1.5;

    /* Lists */
    $list-font-family: $global-font-family;

    /* Responsive Tables */
    /* TRANSLATION-ITEM */
    $table-scroll-hint-content: "Hint: You can scroll the table horizontally.";
    $table-scroll-hint-color: gray;
    $table-scroll-hint-font-size: 0.8rem;
    $table-min-width: 250%; /* Minimum width of tables in responsive state. */

    /* Blockquotes */
    $blockquote-padding: 2rem;
    $blockquote-margin: 2rem 0;
    $blockquote-font-family: $heading-font-family;
    $blockquote-font-size: 1.5rem;
    $blockquote-font-style: normal;
    $blockquote-font-weight: bold;
    $blockquote-color: $black;
    $blockquote-border-size: 10px;
    $blockquote-border-width: 0 0 0 $blockquote-border-size;
    $blockquote-border-color: $highlight;

/* Selection Color ========================================================== */
::selection {
    background: $black;
    color: $white;
}

/* Font Standard ============================================================ */
html {
    font-size: responsive;
    min-font-size: 16px;
    /*max-font-size: 21px;*/
    /*line-height: responsive;*/
    /*min-line-height: 1.2em;*/
    /*max-line-height: 1.5em;*/
}

/* Headings ================================================================= */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}

h1 {
    font-size: $font-scale-h1;
}

h2 {
    font-size: $font-scale-h2;
}

h3 {
    font-size: $font-scale-h3;
}

h4 {
    font-size: $font-scale-h4;
}

h5 {
    font-size: $font-scale-baseline;
}

h6 {
    font-size: $font-scale-small;
}

/* Paragraphs =============================================================== */
p {
    font-size: $paragraph-font-size;
    font-family: $paragraph-font-family;
    line-height: normal;

    @media $(l-tablet) {
        line-height: $paragraph-leading--desktop;
    }

}

/* Lists ==================================================================== */

    /* All */
    ul, ol {

        li {
            font-size: $paragraph-font-size;
            font-family: $paragraph-font-family;

            @media $(l-tablet) {
                line-height: $paragraph-leading--desktop;
            }

        }

    }

    /* Lists: Unordered */
    ul {

        li {

        }

    }

    /* Lists: Ordered */
    ol {

        li {

        }

    }

/* Blockquotes ============================================================== */
blockquote {
    border: 0px solid $blockquote-border-color;
    border-width: $blockquote-border-width;
    padding: $blockquote-padding;
    margin: $blockquote-margin;
    font-family: $blockquote-font-family;
    font-weight: $blockquote-font-weight;
    font-style: $blockquote-font-style;
    font-size: $blockquote-font-size;
    color: $blockquote-color;
}

/* Responsive Tables ======================================================== */
.table-wrapper {
    width: 100%;
    overflow: auto;
    position: relative;

    /* Scroll Hint */
    &:before {
        content: $table-scroll-hint-content;
        color: $table-scroll-hint-color;
        font-size: $table-scroll-hint-font-size;
        font-family: $global-font-family;
        text-align: left;
        display: block;

        @media $(p-tablet) {
            display: none;
        }

    }

    table {
        min-width: $table-min-width;

        @media $(p-tablet) {
            min-width: 0;
        }

    }

}

/* Icons ==================================================================== */
.core-icon {

    use {
        stroke-width: 2px;
    }

    &.inline {
        width: 1em;
        height: 1em;
        margin: 0 0.25rem 0 0;
        fill: black;
        stroke: black;
        transform: translate(0,15%);
    }

}

/* Tel Links ================================================================ */
/* Prevent clickable tel links on desktop / non-touch devices. */
.no-touchevents {

    a[href^="tel:"] {
        pointer-events: none;
        text-decoration: none;
    }

}

/* Links ==================================================================== */

$link-color: $highlight;
$link-text-decoration: underline;

    /* Links: Active */
    $link-color--active: color($link-color shade(90%));

    /* Links: Visited */
    $link-color--visited: color($link-color s(-15));

    /* Links: Hover */
    $link-color--hover: color($link-color s(+50));

:any-link {
    outline: none;

    /* Exclude any custom classes that you don't want these styles to apply to. */
    &:not([class*="button"]):not(.alert__list-item-link):not([class*="nav"]):not(.breadcrumbs__item-link):not(.tags__item-link):not(.tabs__tab-item-link):not(.pagination__number):not(.page-title__meta-item-link):not(.language-toggle__item-link):not([class*="social-icons__item-item-link"]) {
        color: $link-color;
        font-weight: normal;
        transition: color $global-timing $global-easing 0ms;
    }

}

.no-touchevents {

    :any-link {

        &:not([class*="button"]):not(.alert__list-item-link):not([class*="nav"]):not(.breadcrumbs__item-link):not(.tags__item-link):not(.tabs__tab-item-link):not(.pagination__number):not(.page-title__meta-item-link):not(.language-toggle__item-link):not([class*="social-icons__item-item-link"]) {

            &:hover {
                color: $link-color--hover;
                transition: color $global-timing $global-easing 0ms;
            }

        }

    }

}
