/* =============================================================================

    SOCIAL SHARING CSS

    Authored by:
    - Josh Beveridge
    - Justin Bellefontaine

============================================================================= */

/* Variables ================================================================ */

    /* Items */
    $social-sharing-icons-spacing: 0;

    /* Links */
    $social-sharing-icons-link-radius: 0;
    $social-sharing-icons-link-size: 3rem; /* sets both width and height to the box */

    /* Icons */
    $social-sharing-icons-icon-size: 1.5rem;
    $social-sharing-icons-icon-color: white;

        /* Dribbble */
        $social-sharing-icons-icon-size--dribbble: $social-sharing-icons-icon-size;

        /* Facebook */
        $social-sharing-icons-icon-size--facebook: 1.25rem;

        /* Google Plus */
        $social-sharing-icons-icon-size--google-plus: $social-sharing-icons-icon-size;

        /* Instagram */
        $social-sharing-icons-icon-size--instagram: $social-sharing-icons-icon-size;

        /* Linkedin */
        $social-sharing-icons-icon-size--linkedin: 1.25rem;

        /* Pinterest */
        $social-sharing-icons-icon-size--pinterest: $social-sharing-icons-icon-size;

        /* Twitter */
        $social-sharing-icons-icon-size--twitter: 1.25rem;

        /* Youtube */
        $social-sharing-icons-icon-size--youtube: $social-sharing-icons-icon-size;

/* Container ================================================================ */
.social-sharing__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    &.show {
        display: block;
    }

}

/* Items ==================================================================== */
.social-sharing__list-item {
    padding: $social-sharing-icons-spacing;
    display: inline-block;
    vertical-align: middle;
}

/* Links ==================================================================== */
.social-sharing__list-item-link {
    border-radius: $social-sharing-icons-link-radius;
    width: $social-sharing-icons-link-size;
    height: $social-sharing-icons-link-size;
    text-align: center;
    position: relative;
    padding: 50% 0;
    display: block;

    /* Dribbble */
    &[href*="dribbble.com"] {
        background: $dribbble-brand;

        [class*="core-icon--"] {
            width: $social-sharing-icons-icon-size--dribbble;
            height: $social-sharing-icons-icon-size--dribbble;
        }

    }

    /* Facebook */
    &[href*="facebook"] {
        background: $facebook-brand;

        [class*="core-icon--"] {
            width: $social-sharing-icons-icon-size--facebook;
            height: $social-sharing-icons-icon-size--facebook;
        }

    }

    /* Google Plus */
    &[href*="plus.google.com"] {
        background: $gplus-brand;

        [class*="core-icon--"] {
            width: $social-sharing-icons-icon-size--google-plus;
            height: $social-sharing-icons-icon-size--google-plus;
        }

    }

    /* Instagram */
    &[href*="instagram.com"] {
        background: $instagram-brand;

        [class*="core-icon--"] {
            width: $social-sharing-icons-icon-size--instagram;
            height: $social-sharing-icons-icon-size--instagram;
        }

    }

    /* LinkedIn */
    &[href*="linkedin"] {
        background: $linkedin-brand;

        [class*="core-icon--"] {
            width: $social-sharing-icons-icon-size--linkedin;
            height: $social-sharing-icons-icon-size--linkedin;
        }

    }

    /* Pinterest */
    &[href*="pinterest.com"] {
        background: $pinterest-brand;

        [class*="core-icon--"] {
            width: $social-sharing-icons-icon-size--pinterest;
            height: $social-sharing-icons-icon-size--pinterest;
        }

    }

    /* Twitter */
    &[href*="twitter"] {
        background: $twitter-brand;

        [class*="core-icon--"] {
            width: $social-sharing-icons-icon-size--twitter;
            height: $social-sharing-icons-icon-size--twitter;
        }

    }

    /* YouTube */
    &[href*="youtube.com"] {
        background: $youtube-brand;

        [class*="core-icon--"] {
            width: $social-sharing-icons-icon-size--youtube;
            height: $social-sharing-icons-icon-size--youtube;
        }

    }

}

/* Icons ==================================================================== */
.social-sharing__list-item [class*="core-icon--"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    fill: $social-sharing-icons-icon-color;
    width: $social-sharing-icons-icon-size;
    height: $social-sharing-icons-icon-size;
}
