/* =============================================================================

    SOCIAL SHARING CSS

    Authored by:
    - Josh Beveridge
    - Justin Bellefontaine

============================================================================= */

/* Variables ================================================================ */

    /* Items */
    $social-sharing-icons-spacing: 0;

    /* Email */
    $social-sharing-email-form-margin: 1.5rem 0 0;

        /* Email: Form Title */
        $social-sharing-email-form-title-margin: 0 0 0.5rem;
        $social-sharing-email-form-title-font-size: 1rem;
        $social-sharing-email-form-title-font-weight: normal;
        $social-sharing-email-form-title-font-style: normal;
        $social-sharing-email-form-title-text-transform: none;
        $social-sharing-email-form-title-color: var(--black);

        /* Email: Input */
        $social-sharing-email-form-input-spacing: 0 1rem 0 0;

/* Container ================================================================ */
.social-sharing__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    &.show {
        display: block;
    }

}

/* Items ==================================================================== */
.social-sharing__list-item {
    padding: $social-sharing-icons-spacing;
    display: inline-block;
    vertical-align: middle;
}

/* Email Option ============================================================= */
.social-sharing__email-form {
    display: none;
    margin: $social-sharing-email-form-margin;

    &.show {
        display: block;
    }

}

.social-sharing__email-form-title {
    margin: $social-sharing-email-form-title-margin;
    font-size: $social-sharing-email-form-title-font-size;
    font-weight: $social-sharing-email-form-title-font-weight;
    font-style: $social-sharing-email-form-title-font-style;
    text-transform: $social-sharing-email-form-title-text-transform;
    color: $social-sharing-email-form-title-color;

}

.social-sharing__email-layout {
    display: flex;
    flex-flow: row;
}

[class*="social-sharing__email-layout-item--"] {

}

.social-sharing__email-layout-item--input {
    flex: 1;
    display: flex;
    padding: $social-sharing-email-form-input-spacing;
}

.social-sharing__email-layout-item--button {

}

.social-sharing__email-input {

}

.social-sharing__email-button {

}
